<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArcDPS_uptool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ArcDPS_uptool.Properties.Settings>
            <setting name="环境检测" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="首次使用" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_1程序" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_2切换" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_3附加" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_4流汉" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_5团力" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_6团恩" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_7坐骑" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_8汉滤" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_9全滤" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_自动更新" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_自动启动" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_跳过更新" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_附加命令" serializeAs="String">
                <value>True</value>
            </setting>
        </ArcDPS_uptool.Properties.Settings>
    </userSettings>
</configuration>