<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GW2_Plug_Updatetool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ArcDPS更新工具.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GW2_Plug_Updatetool.Properties.Settings>
            <setting name="_1程序" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_2切换" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_3附加" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_4流汉" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_5流英" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_6团力" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_7团恩" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_8坐骑" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_9汉滤" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_10全虑" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_11自动" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_12启动" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_不更新" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="首次使用" serializeAs="String">
                <value>True</value>
            </setting>
        </GW2_Plug_Updatetool.Properties.Settings>
        <ArcDPS更新工具.Properties.Settings>
            <setting name="自动更新" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="自动启动" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="顺网" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="主程序" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DB切换" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="附加功能" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="汉化文本" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="坐骑插件" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="团队力学" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="流动输出" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="快捷启动" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="用户名" serializeAs="String">
                <value />
            </setting>
            <setting name="密码" serializeAs="String">
                <value />
            </setting>
            <setting name="滤镜" serializeAs="String">
                <value>False</value>
            </setting>
        </ArcDPS更新工具.Properties.Settings>
    </userSettings>
</configuration>