<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArcDPS更新工具.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ArcDPS更新工具.Properties.Settings>
            <setting name="自动更新" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="自动启动" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="顺网" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="主程序" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DB切换" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="附加功能" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="汉化文本" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="坐骑插件" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="团队力学" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="流动输出" serializeAs="String">
                <value>False</value>
            </setting>
        </ArcDPS更新工具.Properties.Settings>
    </userSettings>
</configuration>