<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlugIn_UpdateTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PlugIn_UpdateTool.Properties.Settings>
            <setting name="首次运行检测" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dx12文件名" serializeAs="String">
                <value>d912pxy_v1.4_r367.zip</value>
            </setting>
            <setting name="主程序" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="配置板" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="小提示" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="流动输出" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="团队力学" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="团队恩赐" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="坐骑插件" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="r滤镜" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s滤镜" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dx12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="启动更新" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="跳过更新" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="自动启动" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="多线程下载" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="附加地图" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="主程序_地址" serializeAs="String">
                <value>http://gw2sy.top/d3d9.dll</value>
            </setting>
            <setting name="配置板_地址" serializeAs="String">
                <value>http://gw2sy.top/wp-content/uploads/d3d9_arcdps_buildpad.dll</value>
            </setting>
            <setting name="小提示_地址" serializeAs="String">
                <value>http://gw2sy.top/wp-content/uploads/d3d9_arcdps_ct.dll</value>
            </setting>
            <setting name="流动输出_地址" serializeAs="String">
                <value>http://gw2sy.top//wp-content/uploads/d3d9_arcdps_sct.dll</value>
            </setting>
            <setting name="团队力学_地址" serializeAs="String">
                <value>http://gw2sy.top//wp-content/uploads/d3d9_arcdps_mechanicschs.dll</value>
            </setting>
            <setting name="团队恩赐_地址" serializeAs="String">
                <value>http://gw2sy.top//wp-content/uploads/d3d9_arcdps_tablechs.dll</value>
            </setting>
            <setting name="坐骑插件_地址" serializeAs="String">
                <value>http://gw2sy.top//wp-content/uploads/d3d9_chainload.dll</value>
            </setting>
            <setting name="r滤镜_地址" serializeAs="String">
                <value>http://gw2sy.top//wp-content/uploads/d3d9_ReShade641.zip</value>
            </setting>
            <setting name="s滤镜_地址" serializeAs="String">
                <value>http://gw2sy.top//wp-content/uploads/SweetFX.zip</value>
            </setting>
            <setting name="汉化文件地址" serializeAs="String">
                <value>http://gw2sy.top//wp-content/uploads/arcdps_lang.ini</value>
            </setting>
        </PlugIn_UpdateTool.Properties.Settings>
    </userSettings>
</configuration>